<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
      <img src="assets/sg.png" style="height: 75px;">
    </div>

    <div class="navbar-header"  style="margin-left: 30px;     padding-top: 16px;">
      <a routerLink="/" class="navbar-brand link-style link1">Account management</a>
    </div>
    <div class="navbar-header"  style="margin-left: 30px;     padding-top: 16px;">
      <a routerLink="/newaccount" class="navbar-brand link-style link2">Create Account</a>
    </div>
    <div class="collapse navbar-collapse">
    </div>
  </div>
</nav>
