:host {

  .link-style {

    color: black;
    font-family: system-ui;
    font-size: large;
    font-weight: 600;
  }

  a:hover {
    color: #fa2222;
  }

  .link1 {
    border-left: 3px solid #e9e9e9;
    border-right: 3px solid #e9e9e9;
  }

  .link2 {
    border-right: 3px solid #e9e9e9;
  }
}
